.side_bar
  .side_bar__header
    .side_bar__header__box
      %p.side_bar__header__box__user-name
        = current_user.name
      %ul.side_bar__header__box__menu
        %li.side_bar__header__box__menu__edit-user
          = link_to new_group_path do
            = icon('fas','edit', class: 'icon')
        %li.side_bar__header__box__menu__new-group
          = link_to edit_user_path(current_user) do
            = icon('fas','cog', class: 'icon')
  .side_bar__groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "single" do
          .group__group-name
            = group.name
          .group__group-latest-message
            = group.show_last_message